*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  margin: 0;
}

body {
  background: linear-gradient(45deg, #77340b, #d2b6f4);
  text-align: center;
  font-size: 3em;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1 0 auto;
}

.choices {
  font-size: 1em;
  width: 4em;
  background: #dbdbdb;
  padding: 0.2em;
  border-radius: 10px;
  margin: 0.4em;
}

.result {
  margin-top: 2em;
  font-size: 0.6em;
}

.info {
  margin-top: 2em;
  font-size: 0.6em;
}

.footer {
  font-size: 0.3em;
  flex-shrink: 0;
  margin-bottom: 1em;
}

.site-info {
  margin: 0;
}
